<div class="container">
  <ng-container>
    <h1>Registro de acto delictivo</h1>
    <form class="registro">
        <div class="input">
            <p class="text">Titulo: </p>
            <input class="entrada" type="text" >
        </div>
        <div class="input">
            <p class="text">Descripci&oacute;n:</p>
            <input class="entrada" type="text">
        </div>
        <div class="input">
            <p class="text">Fecha:</p>
            <input class="entrada" type="date" value="{{fechaActual}}">
        </div>
        <div class="input">
            <p class="text">Hora:</p>
            <input class="entrada" type="time">
        </div>
        <div class="input">     
            <p class="text">Lugar:</p>
            <button type="button" class="entrada" (click)="openModalMapa()">
                Seleccionar lugar
            </button>
            <small>Longitud: {{longitud}}<br> Latitud: {{latitud}}</small>
        </div>
        <div class="input">     
            <p class="text">Evidencia:</p>
            <input type="file" id="btn_enviar" class="entrada" (change)="onFileChange($event)" />
        </div>
        <div class="input">
            <p class="text">Categoria:</p>
            <select name="" id="" class="entrada">
              <option value="Robo">Robo</option>
              <option value="Asesinato">Asesinato</option>
              <option value="Drogadiccion">Drogadiccion</option>
              <option value="Corrupcion">Corrupci&oacute;n</option>
            </select>
        </div>
    </form>
  </ng-container>
</div>
