<div class="container">
  <ng-container>
    <h1 class="titulo">Registro de acto delictivo</h1>
    <div class="registro">
      <form class="formulario" [formGroup]="delictivoForm" autocomplete="off">
        <div class="input">
          <p class="text">T&iacute;tulo:</p>
          <input
            class="entrada"
            placeholder="Título"
            formControlName="titulo"
            type="text" />
        </div>
        <div class="input">
          <p class="text">Descripci&oacute;n:</p>
          <textarea
            id="descripcionCurso"
            type="text"
            formControlName="descripcion"
            class="entrada"
            rows="4"
            placeholder="Descripción"></textarea>
        </div>
        <div class="input">
          <p class="text">Fecha:</p>
          <input
            class="entrada"
            type="date"
            formControlName="fecha"
            value="{{ fechaActual }}"
            max="{{ fechaActual }}" />
        </div>
        <div class="input">
          <p class="text">Hora:</p>
          <input class="entrada" formControlName="hora" type="time" />
        </div>
        <div class="input">
          <p class="text">Lugar:</p>
          <button type="button" class="entrada" (click)="openModalMapa()">
            Seleccionar lugar
          </button>
        </div>
        <div class="input">
          <small class="text"></small>
          <small
            >Longitud: {{ longitud }}<br />
            Latitud: {{ latitud }}</small
          >
        </div>
        <div class="input">
          <p class="text">Evidencia (Foto o Video):</p>
          <input
            type="file"
            id="btn_enviar"
            class="entrada form-control"
            (change)="onFileChange($event)" />
        </div>
        <div class="input">
          <p class="text">Categoria:</p>
          <select name="" id="" formControlName="categoria" class="entrada">
            <option value="Robo">Robo</option>
            <option value="Asesinato">Asesinato</option>
            <option value="Drogadiccion">Drogadiccion</option>
            <option value="Corrupcion">Corrupci&oacute;n</option>
          </select>
        </div>
        <div class="boton">
          <button
            type="button"
            (click)="crearActoDelictivo()"
            class="btn btn-success my-2 my-sm-0">
            Registrar Acto Delictivo
          </button>
        </div>
      </form>
      <div class="svg-container">
        <img src="assets/policia.svg" class="policia" />
      </div>
    </div>
  </ng-container>
</div>
