
  <div class="container">
    <div class="one">
      <small>BIENVENIDO A AVISA YA!</small>

      <h1 class="titulo">REGISTRA LOS ACTOS DELICTIVOS DE TU COMUNIDAD YA!</h1>

      <input
        type="submit"
        value="Iniciar Sesión"
        routerLink="/security/login"
        class="btn btn-success my-2 my-sm-0" />
    </div>
    <div class="two">
      <img src="assets/inicio.svg" class="inicio" />
    </div>
  </div>
  <div class="container-2">
    <div class="div1">
      <h2>Registrar acto delictivo</h2>
      <small>Registre los diferentes delictos que haya presenciado o haya sido victima</small><br>
      <a href=""><i class="fa-solid fa-arrow-right fa-3x"></i></a>
    </div>
    <div class="div2">
      <h2>Visualizar acto delictivo</h2>
      <small>Dirigirse a ver el mapa donde vera los diferenes delitos</small><br>
      <a href=""><i class="fa-solid fa-arrow-right fa-3x"></i></a>
    </div>
    <div class="div3">
      <h2>Preguntas frecuentes</h2>
      <small>Dudas o consultas sobre su informacion o manejo de la pagina</small><br>
      <a href=""><i class="fa-solid fa-arrow-right fa-3x"></i></a>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/5f0bb1d612.js" crossorigin="anonymous"></script>
